:root {
  --container-width: 1200px;
  --container-padding: 15px;

  --font-main: 'LatoReg', sans-serif;
  --font-bold: 'LatoBold', sans-serif;
  --font-black: 'LatoBlack', sans-serif;

  --page-bg: #fff;
  --text-color: #000;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;

  // colors //
  --color-white: #fff;
  --color-blue: #42a9ed;
  --color-gray: #c3c3c3;
  --color-hard-blue: #272733;

  // bg-colors //

  --bg-black: rgba(16, 16, 29, 0.902);
  --bg-gray: #3d4050;
}
